<html>
    <head>
    <link rel= "stylesheet" type="text/css" href="style.css">
    </head>
    <body>
    <h3> HIC - ES - STAS </h3> 

    <img src="myimage.jpg" alt="My Image">

<% for(var i=0; i<images.length; i++){%>
 
        <img src="./images/<%=images[i]%>"> 

<%}%>


    <p><a href='/index.html'>here is a description of this project</a></p>
    </body>
    </html>
