<html>
    <head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type="text/css" href="style.css">
    </head>
   <body>
    

<ul class="rig columns-4">

    
    <li>
        <h2>FIND</h2>
    <% for(var i=0; i<25; i++){%>
     <img src="./images/<%=images[i]%>"> 
     <%}%>
    </li> 

    <li>
      <h2>YOUR</h2>
    <% for(var i=25; i<50; i++){%>
    <img src="./images/<%=images[i]%>"> 
    <%}%>
    </li> 

     <li>
        <h2>SELF</h2>
    <% for(var i=50; i<75; i++){%>
    <img src="./images/<%=images[i]%>"> 
    <%}%>
    </li>   

     <li>
        <h2>HERE</h2>
    <% for(var i=75; i<100; i++){%>
    <img src="./images/<%=images[i]%>"> 
    <%}%>
    </li>   

</ul>

<br>
<br>
<br>
<br>

 <a href='/index.html' class="button"> FIND IMPORTANT DESCRIPTION OF PROJECT HERE</a> 
    </body>
    </html>
