<html>
    <head>
    <link rel= "stylesheet" type="text/css" href="style.css">
    </head>
    <body>

         <h3> YOU ARE HERE </h3>
        <br>

     <img src="./map-pin.png" alt="You are here" height="150" width=auto> 

     <br>

<br>
<br>
<br>


    <img src="./images/<%=src%>" class= "img2"> 
   

<br>
<br>
<br>
<br>

    <p><a href='/display'>SEE WHERE OTHERS ARE</a></p>
    </body>
    </html>
