<html>
    <head>
    <link rel= "stylesheet" type="text/css" href="style.css">
    </head>
    <body>
    <h3> HIC - ES - STAS </h3> 

    <!-- <img src="myimage.jpg" alt="My Image"> -->

 
    <img src="./images/<%=src%>"> 



    <p><a href='/index.html'>here is a description of this project</a></p>
    </body>
    </html>
